<div style="text-align:center ;">
    <h1>Ingrese Productos</h1>
    
    <form method="POST" action="/products">
        <div style="padding:30px ;">
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="price" placeholder="price" />
            <input type="text" name="thumbnail" placeholder="thumbnail" />
            <input type="submit" placeholder="send">
        </div>
    </form>

    <button> <a style="text-decoration:none ;" href="/products">Ver todos los productos</a></button>

</div>